name: build & deploy

on:
  push:
  workflow_dispatch:
    inputs:
      build_target:
        description: 'Build target'
        required: true
        default: 'ci_stage'
        type: choice
        options:
        - ci_stage
        - ci_prod

env:
  ARTIFACTS_PATH: artifacts
  PROJECT_NAME: genesis_workspace
  REPO_ENDPOINT: http://10.20.0.1:8081
  REPO_ENDPOINT_PUT: http://10.20.0.1:8082
  CORE_ENDPOINT: http://10.20.0.2:11010
  NODE_NS_UUID: 3ea35d89-fc3c-43d1-82fe-40980edbf617
  PROJECT_ID: d4ef38ee-2667-4931-90fd-c858d4bc5f1c
  MIN_DEV_VERSION: ${{ vars.MIN_DEV_VERSION }}
  MIN_STABLE_VERSION: ${{ vars.MIN_STABLE_VERSION }}
  WORKSPACE_PATH: https://repository.genesis-core.tech/genesis_workspace/
  # All vars you need to pass to build the flutter app goes here with prefix "UI_BUILD_ENV_".
  # There is a build python script `make_ui_build_env.py` that handles these variables and
  # form a json file. For instance, if you need to pass `api_url="https://console.genesis-core.tech/api"`
  # variable, you need to set `UI_BUILD_ENV_api_url` environment variable and the result file will be:
  # {
  #   "api_url": "https://console.genesis-core.tech/api"
  # }
  UI_BUILD_ENV_legacy_ui: "/legacy"

jobs:
  build_win:
    runs-on: windows-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
      - name: Build Genesis Workspace for Windows
        env:
            DEV_KEYS: ${{ secrets.DEV_KEYS }}
            UI_BUILD_ENV_BUILD_TARGET: ${{ github.event.inputs.build_target }}
            PROD_URL: ${{ secrets.PROD_URL }}
            DEV_URL: ${{ secrets.DEV_URL }}
            MIN_DEV_VERSION: ${{ env.MIN_DEV_VERSION }}
            MIN_STABLE_VERSION: ${{ env.MIN_STABLE_VERSION }}
            FB_GOOGLE_SERVICES_ANDROID: ${{ secrets.FB_GOOGLE_SERVICES_ANDROID }}
            FB_GOOGLE_SERVICES_IOS: ${{ secrets.FB_GOOGLE_SERVICES_IOS }}
            UI_BUILD_ENV_firebase_api_key: ${{ secrets.FB_API_KEY }}
            UI_BUILD_ENV_lk_url: ${{ secrets.LK_URL }}
        run: |
          set -eux

          mkdir -p ${ARTIFACTS_PATH}
          BUILD_TARGET="${UI_BUILD_ENV_BUILD_TARGET:-ci_stage}"

          python3 ./genesis/images/make_ui_build_env.py
          make ci_prod_windows
          cd build/windows/x64/runner/Release
          7z a -tzip ./../../../../../${ARTIFACTS_PATH}/bundle_win.zip .
          cd -
        shell: bash
      - name: Upload the build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build_win_artifacts
          path: artifacts/
  build:
    runs-on: [self-hosted, flutter]
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 30
      - name: Install DevTools & get version
        id: devtools
        run: |
          set -eux

          # Install DevTools
          python3 -m venv .venv
          source .venv/bin/activate
          pip install genesis-devtools
          VERSION="$(genesis get-version .)"
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
      - name: Build Genesis Workspace for Linux, Android and Web
        env:
            DEV_KEYS: ${{ secrets.DEV_KEYS }}
            UI_BUILD_ENV_BUILD_TARGET: ${{ github.event.inputs.build_target }}
            PROD_URL: ${{ secrets.PROD_URL }}
            DEV_URL: ${{ secrets.DEV_URL }}
            MIN_DEV_VERSION: ${{ env.MIN_DEV_VERSION }}
            MIN_STABLE_VERSION: ${{ env.MIN_STABLE_VERSION }}
            FB_GOOGLE_SERVICES_ANDROID: ${{ secrets.FB_GOOGLE_SERVICES_ANDROID }}
            FB_GOOGLE_SERVICES_IOS: ${{ secrets.FB_GOOGLE_SERVICES_IOS }}
            ANDROID_KEY_PROPERTIES: ${{ secrets.ANDROID_KEY_PROPERTIES }}
            UI_BUILD_ENV_firebase_api_key: ${{ secrets.FB_API_KEY }}
            UI_BUILD_ENV_lk_url: ${{ secrets.LK_URL }}
        run: |
          set -eux

          echo "${FB_GOOGLE_SERVICES_ANDROID}" | \
            base64 --decode > android/app/google-services.json
          echo "${ANDROID_KEY_PROPERTIES}" | \
            base64 --decode > android/key.properties
          echo "${FB_GOOGLE_SERVICES_IOS}" | \
            base64 --decode > ios/Runner/GoogleService-Info.plist

          mkdir -p ${ARTIFACTS_PATH}
          BUILD_TARGET="${UI_BUILD_ENV_BUILD_TARGET:-ci_stage}"
          WEB_DIR="$(pwd)/__html"
          mkdir -p "${WEB_DIR}"

          python3 /usr/local/bin/make_ui_build_env
          make ci_prod_linux
          cd build/linux/x64/release/
          tar -czf ./../../../../${ARTIFACTS_PATH}/bundle_linux.tar.gz bundle
          cd -
          make ci_prod_apk
          mv build/app/outputs/flutter-apk/app-prod-release.apk ./${ARTIFACTS_PATH}/
          make ci_prod_web

          find "build/web/" -maxdepth 1 -type f -exec mv -t "$WEB_DIR/" {} +
          cp -r "build/web/assets" "$WEB_DIR/"
          cd "$WEB_DIR"
          tar -czf ./../${ARTIFACTS_PATH}/web.tar.gz .
          cd -
          # It's used in VM, so push earlier
          curl -X PUT --upload-file ./${ARTIFACTS_PATH}/web.tar.gz \
            $REPO_ENDPOINT_PUT/${PROJECT_NAME}/${{ steps.devtools.outputs.VERSION }}/workspace-web.tar.gz
      - name: Upload the build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build_artifacts
          path: artifacts/
      - name: Build Genesis Workspace VM image
        env:
            DEV_KEYS: ${{ secrets.DEV_KEYS }}
            UI_BUILD_ENV_BUILD_TARGET: ${{ github.event.inputs.build_target }}
            PROD_URL: ${{ secrets.PROD_URL }}
            DEV_URL: ${{ secrets.DEV_URL }}
        run: |
          set -eux
          rm -rf ${ARTIFACTS_PATH}
          mkdir -p ${ARTIFACTS_PATH}
          BUILD_TARGET="${UI_BUILD_ENV_BUILD_TARGET:-ci_stage}"

          # Node UUID based on the build target
          python3 -c "import uuid; print(uuid.uuid5(uuid.UUID(\"${NODE_NS_UUID}\"),\"${BUILD_TARGET}\"))" > "${ARTIFACTS_PATH}/node_uuid.txt"

          echo "${DEV_KEYS}" > dev-keys.txt
          export UI_BUILD_ENV_WEB_ARCHIVE="$REPO_ENDPOINT_PUT/${PROJECT_NAME}/${{ steps.devtools.outputs.VERSION }}/workspace-web.tar.gz"

          source .venv/bin/activate
          genesis build $(pwd) -i dev-keys.txt

          # Upload the VM image
          curl -X PUT --upload-file output/genesis-workspace.raw.gz \
            $REPO_ENDPOINT_PUT/${PROJECT_NAME}/${{ steps.devtools.outputs.VERSION }}/genesis-workspace.raw.gz

          # Temporary upload step is done in the build script
          echo "${{ steps.devtools.outputs.VERSION }}" > "${ARTIFACTS_PATH}/version.txt"

      - name: Upload the build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build_artifacts_deploy
          path: artifacts/

  push_artifacts:
    runs-on: [self-hosted, flutter]
    needs: [build, build_win]
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts/
      - name: Push artifacts to repository
        run: |
          set -eux
          VERSION=$(cat ./artifacts/build_artifacts_deploy/version.txt)
          curl -X PUT --upload-file ./artifacts/build_win_artifacts/bundle_win.zip \
            $REPO_ENDPOINT_PUT/${PROJECT_NAME}/${VERSION}/bundle_win.zip
          curl -X PUT --upload-file ./artifacts/build_artifacts/bundle_linux.tar.gz \
            $REPO_ENDPOINT_PUT/${PROJECT_NAME}/${VERSION}/bundle_linux.tar.gz
          curl -X PUT --upload-file ./artifacts/build_artifacts/app-prod-release.apk \
            $REPO_ENDPOINT_PUT/${PROJECT_NAME}/${VERSION}/workspace-app.apk
      - name: Update repo index
        run: |
          python3 genesis/images/make_index.py \
            --min-stable "${MIN_STABLE_VERSION}" \
            --min-dev "${MIN_DEV_VERSION}" \
            "${WORKSPACE_PATH}" | tee workspace-index.json
          # Calculate SHA256
          sha256sum workspace-index.json > workspace-index.json.sha256
          cat workspace-index.json.sha256
          # Upload index files
          curl -X PUT --upload-file workspace-index.json \
            $REPO_ENDPOINT_PUT/${PROJECT_NAME}/workspace-index.json
          curl -X PUT --upload-file workspace-index.json.sha256 \
            $REPO_ENDPOINT_PUT/${PROJECT_NAME}/workspace-index.json.sha256

  deploy:
    runs-on: [self-hosted, flutter]
    needs: [build]
    steps:
      - name: Download the build artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts/
      - name: Deploy Genesis Workspace
        env:
          CORE_USER: ${{ secrets.CORE_USER }}
          CORE_PASSWORD: ${{ secrets.CORE_PASSWORD }}
        run: |
          set -eux

          VERSION=$(cat ${ARTIFACTS_PATH}/build_artifacts_deploy/version.txt)
          NODE_UUID=$(cat ${ARTIFACTS_PATH}/build_artifacts_deploy/node_uuid.txt)

          # Install CI tools
          rm -fr venv
          python3 -m venv venv
          source venv/bin/activate
          # Remove version pinning after GC update on this stand
          pip install genesis-ci-tools

          genesis-ci -e $CORE_ENDPOINT -u $CORE_USER -p $CORE_PASSWORD nodes add-or-update \
            --wait \
            -u $NODE_UUID \
            -p $PROJECT_ID \
            -i "${REPO_ENDPOINT}/${PROJECT_NAME}/${VERSION}/genesis-workspace.raw.gz"
