name: Workspace index

on:
  workflow_dispatch:
    inputs:
      index_target:
        description: 'Make workspace index'
        required: true
        default: 'dev'
        type: choice
        options:
        - dev
        - stable

env:
  PROJECT_NAME: genesis_workspace
  REPO_ENDPOINT_PUT: http://10.20.0.1:8082
  MIN_DEV_VERSION: ${{ vars.MIN_DEV_VERSION }}
  MIN_STABLE_VERSION: ${{ vars.MIN_STABLE_VERSION }}
  WORKSPACE_PATH: http://repository.genesis-core.tech:8081/genesis_workspace/

jobs:
  index:
    runs-on: [self-hosted]
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - name: Make workspace index
        env:
            MIN_DEV_VERSION: ${{ env.MIN_DEV_VERSION }}
            MIN_STABLE_VERSION: ${{ env.MIN_STABLE_VERSION }}
        run: |
          set -eux
          python3 genesis/images/make_index.py \
            --min-stable "${MIN_STABLE_VERSION}" \
            --min-dev "${MIN_DEV_VERSION}" \
            "${WORKSPACE_PATH}" | tee workspace-index.json
          curl -X PUT --upload-file workspace-index.json \
            $REPO_ENDPOINT_PUT/${PROJECT_NAME}/workspace-index.json
